
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    margin-bottom: 10px;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}


.slider {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-color: lightblue;
    margin: 0 auto 10px;
    border-radius: 10px;
}

.slider img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}

.left-arrow,
.right-arrow {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.thumbnail {
    width: 100px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.3s;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 5px;
}

.thumbnail img.active {
    border-color: #333;
}

.thumbnail:hover img {
    transform: scale(1.1);
}
